<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" href="/static/css/explore_loc.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="header_title">
                <a class="home_button" href="/">WiCafeFi</a>
            </div>
            <div class="header_login">
                <a class="header_login_name" href="/">Login</a>
            </div>
        </div>
    </header>
    <main>


    </main>
    <footer class="footer">
        <a class="footer_a" href="#">Send feedback</a>
        <div class="footer_pa">
            <p class="footer_pa_p">Inspired by: © </p>
            <a class="footer_pa_a" href="https://laptopfriendly.co"> LaptopFriendly</a>
        </div>
        <p class="footer_brand">© WiCafeFi</p>
    </footer>

</body>
</html>