<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" href="/static/css/explore_loc.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="header_title">
                <a class="home_button" href="/">WiCafeFi</a>
            </div>
            <div class="header_login">
                <a class="header_login_name" href="/">Login</a>
            </div>
        </div>
    </header>
    <main>
        <div class="filters">
            <h1 class="filters_title">Filters:</h1>

            <div class="liked_places">
                <form action="/refresh_filters/{{ location }}" method="post">
                    <div>
                        <h2 class="liked_places_title">My places:</h2>
                        <button class="{% if 'like_button' in filters %} button_pressed {% else %} button_not_pressed {% endif %}" type="submit" name="action" value="like_button">Liked</button>
                    </div>
                    <div>
                        <h2>Filters:</h2>
                        <button class="{% if 'sockets' in filters %} button_pressed {% else %} button_not_pressed {% endif %}" type="submit" name="action" value="sockets">Sockets</button>
                        <button class="{% if 'toilets' in filters %} button_pressed {% else %} button_not_pressed {% endif %}" type="submit" name="action" value="toilets">Toilets</button>
                        <button class="{% if 'wifi' in filters %} button_pressed {% else %} button_not_pressed {% endif %}" type="submit" name="action" value="wifi">Wifi</button>
                        <button class="{% if 'calls' in filters %} button_pressed {% else %} button_not_pressed {% endif %}" type="submit" name="action" value="calls">Calls</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="result">
            <h1 class="result_title">Result:</h1>
            {% for cafes in results %}
            <div class="result_cafe">
                <img class="result_image" src="{{ cafes.img_url }}" alt="{{ result }}">
                <div>
                    <p class="result_name">{{ cafes.name }}</p>
                    <p class="result_price">{{ cafes.coffee_price }}</p>
                    <a href="{{ cafes.map_url }}" class="result_map">{{ cafes.map_url }}</a>

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="map">
            <h1 class="map_title"></h1>
            {% for cafes in results %}
            <iframe src="" frameborder="0"></iframe>
            {% endfor %}
        </div>

    </main>
    <footer class="footer">
        <a class="footer_a" href="#">Send feedback</a>
        <div class="footer_pa">
            <p class="footer_pa_p">Inspired by: © </p>
            <a class="footer_pa_a" href="https://laptopfriendly.co"> LaptopFriendly</a>
        </div>
        <p class="footer_brand">© WiCafeFi</p>
    </footer>

</body>
</html>