<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiCafeFi</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="header_title">
                <a class="home_button" href="/">WiCafeFi</a>
            </div>
            <div class="header_login">
                <a class="header_login_name" href="/">Login</a>
            </div>
        </div>
    </header>
    <main>
        <div class="first_content">
            <img class="first_content_background_image" src="../static/images/workoffee.jpg" alt="Imagem de Fundo">
            <div class="first_content_content">
                <h1 class="first_content_title_1">WORK, WHERE?</h1>
                <p class="first_content_p">what about, anywhere?</p>
                <a class="first_content_button" href="/explorer">EXPLORE</a>
            </div>
        </div>
        <div class="second_content">
            <div class="second_content_content_1">
                <h2 class="second_content_content_title">Discover new places</h2>
                <p>Places that you can work based on what you need!</p>
            </div>
            <div class="second_content_content_2">
                <h2 class="second_content_content_title">Get focused</h2>
                <p>Enjoy a nice coffee while work!</p>
            </div>
            <div class="second_content_content_3">
                <h2 class="second_content_content_title">New workstation</h2>
                <p>Find a cozy, inspiring place while enjoying a good menu</p>
            </div>
        </div>
        <div class="divisor"></div>
        <div class="third_content">
            <div>
                <h2 class="third_content_title">Developer</h2>
                <img class="third_content_photo" src="../static/images/dev.png" alt="photo from the developer">
                <h3 class="third_content_name">Pedro Rocha</h3>
                <p class="third_content_description">Fullstack Python developer.</p>
            </div>
        </div>
    </main>

    <footer class="footer">
        <a class="footer_a" href="#">Send feedback</a>
        <div class="footer_pa">
            <p class="footer_pa_p">Inspired by: © </p>
            <a class="footer_pa_a" href="https://laptopfriendly.co"> LaptopFriendly</a>
        </div>
        <p class="footer_brand">© WiCafeFi</p>
    </footer>


</body>
</html>